<div class="container">
  <div class="paragraph" #paragraph  [style.visibility]="(status && status.time) ? 'hidden' : 'visible' "></div>
  <div *ngIf="status && status.time" class="result">
    <h2>Status</h2>
    <p>Words Per Minute : {{(status.wpm || 0).toFixed()}}</p>
    <p>Characters Per Minute : {{(status.cpm || 0).toFixed()}}</p>
    <p>Completion time : {{status.time}} secounds</p>
  </div>
  <div class="reset-container">
    <a class="reset-btn" (click)="loadData()">Restart</a>
  </div>
</div>
<router-outlet></router-outlet>
