.container {
  margin: 20vh auto;
  display: grid;
  align-items: center;
  justify-content: center;

  .paragraph {
    width: 70vw;
    font-size: 26px;

    span {
      line-height: 2em;
    }

    .current-char {
      animation-name: blink;
      animation-duration: 1s;
      animation-delay: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      border-radius: 10px;

      background-color: rgb(52, 164, 255);
      color: rgb(255, 255, 255);

      margin: 2px;
      padding: 4px;

      @keyframes blink {
        0% {
          background-color: aliceblue;
          color: grey;
        }
        100% {
          background-color:grey;
          color: aliceblue;
        }
      }
    }

    .typed {
      color: rgb(1, 102, 16);
      font-weight: bold;
    }
  }
  .reset-container{
    display: flex;
    justify-content: center;

    .reset-btn{
      width: 200px;
      height: 50px;
      background-color: #2f99bd;
      box-shadow: none;
      border-radius: 10px;
      border-color: #005a77;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bolder;
    }

    .reset-btn:hover{
      cursor: pointer;
    }
  }
  
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
